@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  padding: 0;
  margin: 0;
}

body {  
  padding: 0;
  margin: 0;
}

.background1 {
  background-image: url("../../public/images/background1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.background2 {
  background-image: url("../../public/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.background3 {
  background-image: url("../../public/images/background4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.background4 {
  background-image: url("../../public/images/background5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

@media only screen and (max-width: 767px) {
  .background1 {
    background-image: url("../../public/images/background3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
  }
  .background4{
    background-position: 40%;
  }

}

@media only screen and (max-width: 900px) {
  .background2{
    background-attachment:local ;
  }
}