@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  padding: 0;
  margin: 0;
}

body {  
  padding: 0;
  margin: 0;
}

.background1 {
  background-image: url("../../public/background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.background2 {
  background-image: url("../../public/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.background3 {
  background-image: url("../../public/background4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (max-width: 767px) {
  .background1 {
    background-image: url("../../public/background3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px;
  }

}

@media only screen and (max-width: 900px) {
  .background2{
    background-attachment:local ;
  }
}